{{page-title "Incident Insights Charts"}}
{{!-- {{log this.incidents}} --}}
{{!-- {{log this.options}} --}}
<div class="dashboard">
<select {{on "change" this.handleChartChange}}>
    {{#each this.chartsDetails  as |chartDetails|}}
    <option value={{chartDetails.id}}>{{chartDetails.resourceName}}</option>
    {{/each}}
</select>
{{log this.resourceType this.resourceTypeTable}}
{{#if (is-equal this.resourceType this.resourceTypeTable)}}
{{table-comp column=this.columns content=this.incidents}}
{{else}}
{{safety-incident-charts options=this.options chartID=this.chartID}}
{{{this.resourceDescription}}}

{{/if}}
</div>