{{page-title "Incident Insights Charts"}}
{{!-- {{log this.incidents}} --}}
{{!-- {{log this.options}} --}}
<div class="dashboard">

{{safety-incident-charts options=this.options chartID=this.chartID}}
{{{this.chartDescription}}}
</div>